body {
	background-color: hsl(185, 75%, 39%);
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 18px;
}

.card {
	width: auto;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);	
    align-items: center;
    justify-content: center;
}

#top-circle {
	position: fixed;
	bottom: 50%;
	right: 50%;
}

#bottom-circle {
	position: fixed;
	top: 50%;
	left: 50%;
}

/* card */

.card-profile {
	width: 354px;
	align-items: center;
	z-index: 10;
	position: relative;
	border-radius: 14px;
	background: #FFF;
	left: 50%;
	transform: translateX(-50%);
}

.card-header1 {
	display: block;
	align-self: center;
}

.card-profile-picture {
	display: block;
	width: 96px;
	border-radius: 50%;
	border: 4px solid #FFF;
	margin-left: auto; 
	margin-right: auto;
	transform: translateY(-50%);
}

.card-user {
	padding: 5px;
}

.card-user-info {
	text-align: center;
}

.card-sns-info {
	padding-top: 15px;
	border-top: 1px solid #969696;
	text-align: center;
}

/* tipografia */

p {
	font-weight: 700;
	letter-spacing: 1px;
}

.text-gray {
	color: hsl(0, 0%, 59%);
	font-weight: 300;
	font-size: 14px;
}


