body {
	background: #D2D2C1 url('images/fundo.png');
	font: 16px Arial, Helvetica, sans-serif;
}

a {
	color: #4B566A;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

h1 {
	color: #828271;
	font-size: 1.2em;
}

#principal {
	width: 900px;
}

#menu {
	background: #C5C5B2;
	padding: 18px;
}

#conteudo {
	background: #E8E8D9;
	padding: 10px;
}

#rodape {
	text-align: center;
}


.centralizar {
	text-align: center;
}

.img-campanha {
	border: 10px solid #C3C3AE;
}